

*
{
    box-sizing: border-box;

    margin:0;
    padding: 0;
}

body
{
    width: 100%;

    font-family: 'thaisans_neueregular',sans-serif;
    font-size: 18px;

    background-color:white;
}

.content
{
    width: 100%;
    max-width: 1140px;

    padding:0 15px;
    
    margin: auto;
}

@media(min-width: 1200px)
{
    .content
    {
        padding: 0;
    }
}